<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三周年抽奖</title>
    <meta property="qc:admins" content="351427627416141650056551637572744" />
    <script type="text/javascript" src="__ROOT__/Template/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Template/activity/js/index.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__ROOT__/Template/activity/css/index.css" type="text/css"/>
</head>

<body>

<!--<iframe frameborder="no" style="position: absolute;"-->
        <!--border="0" marginwidth="0" marginheight="0"-->
        <!--width=330 height=86-->
        <!--src="http://music.163.com/outchain/player?type=2&id=34916176&auto=1&height=66">-->
<!--</iframe>-->




<div id="left-container">
    <!--<img src="../../../../Template/activity/img/1.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/2.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/3.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/4.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/5.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/6.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/7.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/8.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/9.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/10.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/11.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/12.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/13.png" class="kawayi_moster">-->
    <!--<img src="../../../../Template/activity/img/14.png" class="kawayi_moster">-->
</div>

<div id="right-container">
</div>


<div id="center-container">

    <div class="module_one">
        <img class="logo-img" src="../../../../Template/activity/img/zhounianqingdian.png">
    </div>

    <!--<div class="line"></div>-->

    <div class="module_two">
        <div class="panel panel-primary">
            <div class="panel-heading">ROLL点奖品说明</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../../../../Template/activity/img/prize_1.jpg" alt="...">
                            <div class="caption">
                                <h3>黏土手办</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../../../../Template/activity/img/prize_2.jpg" alt="...">
                            <div class="caption">
                                <h3>零食</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../../../../Template/activity/img/prize_3.jpg" alt="...">
                            <div class="caption">
                                <h3>咸鱼抱枕</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="module_three">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">参加人员</h3>
            </div>
            <div class="panel-body">

                <div class="row">

                    <volist name="userList" id="user">
                        <div class="col-xs-2 col-md-2">
                            <a href="#" class="thumbnail">
                                <img style="max-width: 50%;" class="img-responsive "
                                     src="{$user.headimgurl}" alt="...">
                            </a>
                        </div>
                    </volist>
                </div>

            </div>
        </div>
    </div>

    <div class="module_three">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">用户信息</h3>
            </div>
            <div class="panel-body">

                <div class="row">

                    <if condition="$is_qq_login neq 1">
                        <button type="button" class="btn btn-success btn-lg col-md-12" id="qq-login">QQ登录</button>
                        <else />
                        <img class="img-thumbnail"
                             src="http://q.qlogo.cn/qqapp/101346347/AFF01B8D423447C3D50CDD893F5E61F4/40">
                        <h1>大魔王</h1>
                        <a class="btn btn-danger btn-lg col-md-12" href="{$qq_logout_url}" role="button" id="qq-logout">退出登录</a>
                    </if>

                </div>

            </div>
        </div>
    </div>

    <div class="module_four">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">翻滚吧！数字！</h3>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <a href="javascript:void(0);" class="thumbnail">
                            <h1 class="roll_num" id="num_1">0</h1>
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <a href="javascript:void(0);" class="thumbnail">
                            <h1 class="roll_num" id="num_2">0</h1>
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <a href="javascript:void(0);" class="thumbnail">
                            <h1 class="roll_num" id="num_3">0</h1>
                        </a>
                    </div>
                </div>


                <if condition="$is_qq_login neq 1">
                    <!--<h2>请先登录，仅第一次Roll点有效！</h2>-->
                    <h2>请先登录，测试中，每次都有效！</h2>
                <else />
                    <button type="button" class="btn btn-success btn-lg col-md-12" id="roll-btn">ROLL</button>
                </if>

            </div>
        </div>
    </div>

    <div class="module_five">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">排行榜</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" style="text-align: center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>头像</th>
                        <th>名称</th>
                        <th>点数</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <volist name="rollList" id="user" key="k">
                        <tr>
                            <td width="5%">{$k}</td>
                            <td width="20%"><img style="width: 30%;border-radius: 55px;" src="{$user.headimgurl}"></td>
                            <td>{$user.nickname}</td>
                            <td>{$user.roll}</td>
                            <td><?php echo date('m-d H:i', $user['ctm'])?></td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#qq-login").click(function(){
        window.location.href = '{$qq_login_url}';
    });


</script>
