<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三周年抽奖</title>
    <script type="text/javascript" src="__ROOT__/Template/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Template/activity/js/index.js"></script>
    <link rel="stylesheet" href="__ROOT__/Template/activity/css/index.css" type="text/css"/>
</head>
<body>
<div>

</div>

<img src="../../../../Template/activity/img/zhounianqingdian.png">


<img src="../../../../Template/activity/img/1.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/2.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/3.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/4.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/5.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/6.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/7.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/8.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/9.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/10.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/11.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/12.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/13.png" class="kawayi_moster">
<img src="../../../../Template/activity/img/14.png" class="kawayi_moster">