<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="create" method="post">

    中文名<input name="name_cn"  type="text" />

    日文名<input name="name_jp"  type="text" />

    图片路径<input name="imgurl"  type="text" />

    <br>
    <br>


    代表月份<input name="month"  type="text" />

    代表月份-旧历<input name="old_month"  type="text" />

    代表花种<input name="flower"  type="text" />


    <br>
    <br>

    卡牌类型，1-光，2-种，3-短签，4-粕<input name="type"  type="text" />

    点数<input name="point"  type="text" />

    说明<input name="content"  type="text" />

<input type="submit">


</form>

</body>
</html>