<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>

<!--
    margin-left: auto;
    margin-right: auto;
-->

<div class="jumbotron" style="text-align: center">
    <h1>花札 / 花かるた</h1>
    <div class="media" style="margin-left: auto;margin-right: auto;width: 70%;margin-top: 70px">
        <img class="media-object" src="__IMAGES__/Hanafuda-Koi-Koi.jpg" style="float: left;width: 350px">
        <p style="text-indent:2em;text-align: left;margin-bottom: 0px;">
            花札亦称为花牌、花斗，是源于日本，后于朝鲜王朝后期传到朝鲜半岛的一种传统纸牌游戏。
        </p>
        <p style="text-indent:2em;text-align: left;margin-bottom: 0px;">
            目前一般的花札都是所谓的“八八花”，卡片上画有12个月份的花草，每种各4张，整组48张。
        </p>
        <p style="text-indent:2em;text-align: left;margin-bottom: 0px;">
            一般两人玩的叫“来来”（日语：こいこい，两人以上玩的叫“花合わせ”（罗马字：Hana-awase），不过在日本花札爱好者之中属八八的玩法最受欢迎。
        </p>
        <p style="text-indent:2em;text-align: left;margin-bottom: 0px;">
            韩国则以GO-STOP玩法最热门，并且在日本与朝鲜半岛的许多地区都有本地的独特玩法。
        </p>
    </div>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
</div>


</body>
</html>