<!DOCTYPE html>
<html>
<head>
    <title>花扎</title>
    <script src="/Template/js/jquery-1.9.1.min.js"></script>
    <script src="__JS__/index.js"></script>
    <link href="__CSS__/index.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<h1>花扎</h1>

<table>
    <tr>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/1/matsu01.png" data-y="0" data-url="__IMAGES__/1/matsu01.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/1/matsu02.png" data-y="0" data-url="__IMAGES__/1/matsu02.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/1/matsu03.png" data-y="0" data-url="__IMAGES__/1/matsu03.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/1/matsu04.png" data-y="0" data-url="__IMAGES__/1/matsu04.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
    </tr>
    <tr>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/2/ume01.png" data-y="0" data-url="__IMAGES__/1/matsu01.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/2/ume02.png" data-y="0" data-url="__IMAGES__/1/matsu02.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/2/ume03.png" data-y="0" data-url="__IMAGES__/1/matsu03.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
        <td>
            <img class="hanafuda_pic" src="__IMAGES__/2/ume04.png" data-y="0" data-url="__IMAGES__/1/matsu04.png">
            <div class="hanafuda_bak"><p>123123</p></div>
            <div class="hanafuda_name">123123</div>
        </td>
    </tr>

</table>


</body>
</html>