html, body {
    margin: 0px;
    padding: 0px;
    /*width: 100%;*/
    /*height: 100%;*/
}

body {
    background: #ffe9ad;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.line {
    width: 100%;
    height: 2px;
    background: #fff;
}

#center-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/****************标题*************/

#center-container .module_one {
    text-align: center;
}

#center-container .module_one .logo-img {
    max-width: 100%;
}

/*********奖品显示***********/

#center-container .module_two {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#center-container .module_three {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#center-container .module_four {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#center-container .module_five {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#center-container .module_five th {
    text-align: center;
}

#center-container .module_five td {
    text-align: center;
    font-size: 25px;
}

/************妖怪显示*************/

#left-container {
    width: 15%;
    margin-top: 0%;
    /*background: #af9292;*/
    float: left;
    height: 100%;
}

#right-container {
    width: 15%;
    margin-top: 0%;
    /*background: #929caf;*/
    float: right;
    height: 100%;
}
